= form_for(@listing) do |f|
  - if @listing.errors.any?
    #error_explanation
      h2
        = pluralize(@listing.errors.count, "error")
        |  prohibited this listing from being saved:
      ul
        - @listing.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :name
    br
    = f.text_field :name
  .field
    = f.label :url
    br
    = f.text_field :url
  .field
    = f.label :description
    br
    = f.text_area :description
  .actions
    = f.submit
