- listing ||= @listing
td
  = link_to listing.name, listing
td
  = listing.description
td
  = listing.votings.count
td
  = render 'voting_action', remote: true, listing: listing

td
  - if can?(:update, listing)
    = link_to 'Edit', edit_listing_path(listing)
td
  - if can?(:destroy, listing)
    = link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }
