- if(current_user)
  - vote = listing.vote_from(current_user)
  - if vote
    - if can?(:destroy, vote)
      = link_to 'Unvote', unvote_listing_path(listing), method: :post, remote: remote
  - else
    - if can?(:create, Voting)
      = link_to 'Vote', vote_listing_path(listing), method: :post, remote: remote
