p#notice
  = notice
h1
  | Book Listing
table
  thead
    tr
      th Name
      th Description
      th Votes
      th Action
      th[colspan="2"] Edit
  tbody
    - @listings.each do |listing|
      tr[id="listing-row-#{listing.id}"]
        = render 'row', listing: listing
br

- if current_user
  = link_to 'New Listing', new_listing_path
- else
  = link_to user_omniauth_authorize_path(:facebook), class: 'login-button facebook'
    = fa_icon 'facebook', class: 'left'
    | Facebook Login
