p#notice
  = notice
p
  strong Name:
  - if @listing.url.empty?
    = @listing.name
  - else
    = link_to @listing.name, @listing.url
p
  strong Description:
  = @listing.description
p
  strong Proposed By:
  = @listing.user.name

- voting_cnt = @listing.votings.count
p
  strong Votes:
  = voting_cnt

- if voting_cnt > 0
  p
    strong By:
    = @listing.votings.map {|v| "<span class='voting'>#{v.user.name}</span>"}.join(',').html_safe

= render 'voting_action', remote: false, listing: @listing

- if can? :update, @listing
  |  |
  = link_to 'Edit', edit_listing_path(@listing)

|  |
= link_to 'Back', listings_path
